@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #171717;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
}
